@model IEnumerable<Restaurante.Web.Data.Ingrediente>

@{
    ViewData["Title"] = "Listar Ingredientes";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-outline-primary mb-3">Cadastrar Novo Ingrediente</a>
</p>

<br />

<h3>Lista de Ingredientes</h3>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ingrediente in Model)
        {
            if (ingrediente.Ativo)
            {
                <tr>
                    <td>@ingrediente.Nome</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@ingrediente.Id" class="btn btn-info btn-sm">Detalhes</a>
                        <a asp-action="Edit" asp-route-id="@ingrediente.Id" class="btn btn-warning btn-sm">Editar</a>
                        <a asp-action="Delete" asp-route-id="@ingrediente.Id" class="btn btn-danger btn-sm">Deletar</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

