@model IEnumerable<Restaurante.Web.Data.Prato>

@{
    ViewData["Title"] = "Lista de Pratos";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-outline-primary mb-3">Cadastrar Novo Prato</a>
</p>

<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Detalhes</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prato in Model)
        {
            <tr>
                <td>@prato.Nome</td>
                <td>@prato.Descricao</td>
                <td>
                    <a asp-action="Details" asp-route-id="@prato.Id" class="btn btn-info btn-sm">Detalhes</a>
                    <a asp-action="Edit" asp-route-id="@prato.Id" class="btn btn-warning btn-sm">Editar</a>
                    <a asp-action="Delete" asp-route-id="@prato.Id" class="btn btn-danger btn-sm">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Novo Prato</a>